/db_guru/nbproject/private/
/DBguru/nbproject/private/
/DBguru/build/
/DBguru/dist/
/DBsiswa/nbproject/private/
/DBsiswa/build/
/DBsiswa/dist/
/AplikasiJava/nbproject/private/
/AplikasiJava/build/
/latihan database/nbproject/private/
/latihan database/build/
/tictactoe/nbproject/private/
/tictactoe/build/
/tictactoe/dist/
/latihan database/dist/
/NilaiSekolah/nbproject/private/
/NilaiSekolah/build/
/aplikasi_sederhana/nbproject/private/